PORT=3000
NODE_ENV=development
MONGO_INITDB_ROOT_USERNAME=secureblog
MONGO_INITDB_ROOT_PASSWORD=change_me
MONGO_URI=mongodb://secureblog:change_me@localhost:27017/secureblog?authSource=admin
JWT_SECRET=change_me_long_random_string
JWT_EXPIRES_IN=1h
CORS_ORIGIN=http://localhost:8080
GOOGLE_CLIENT_ID=change_me
GOOGLE_CLIENT_SECRET=change_me
GOOGLE_REDIRECT_URI=http://localhost:8080/api/google/callback